/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito:700');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&subset=latin-ext');

:root {
  /* Metrics */
  --base-font-size: 16px;
  --profile-picture-size: 200px;
  --about-me-text-size: 20px;
  --header-height: 350px;
  /* Colors */
  --header-background-color: #4682B4;  
  --tag-background-color: #253C78;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: var(--header-height, 350px);
  background: var(--header-background-color);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--header-height, 350px);
    transform: skewY(2deg);
    -webkit-transform: skewY(2deg);
    background-color: var(--header-background-color);
    transform-origin: top left;
    -webkit-transform-origin: top left;
  }

  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    @media screen and (max-width: 550px) { 
      top: 100px;
    }
  }

  &__title {
    position: relative;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 15px 0px 15px;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 2px #aaa;
    @media screen and (max-width: 540px) { 
      font-size: 2.5em;
      line-height: 40px;
      padding-bottom: 24px;
    }
  }

  &__subtitle {
    position: relative;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 1em;
    text-align: center;
    span {
      padding: 2px 5px;
      background-color: var(--tag-background-color);
      @media screen and (max-width: 550px) { 
        display: block;
      }
    }
    span:nth-child(1), span:nth-child(2) {
      display: inline-block;
      margin-right: 5px;
      @media screen and (max-width: 550px) { 
        display: block;
        margin-right: 0;
      }
    }
  }

  &__profile-picture {
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - var(--profile-picture-size) / 2 + 20px);
    border: 5px solid #FFFFFF;
  }

}

.about-me {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: var(--profile-picture-size);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  &__title {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 15px 0;
  }
  &__text {
    font-size: var(--about-me-text-size, 20px);
    line-height: 24px;
    font-family: 'Nunito Sans', sans-serif;
    &--italic {
      font-style: italic;
    }
    a {
      color: #D36582;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
      position: relative;
    }
  }
  @media screen and (max-width: 1440px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 768px) { 
    grid-template-columns: 1fr;
  }
}

.post-list {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  margin-bottom: 15px;
  &__title {
    font-size: 30px;
    font-family: 'Nunito', sans-serif;
    margin: 0 0 15px 0;
    text-align: center;
    @media screen and (max-width: 768px) { 
      text-align: left;
    }
  }
  .posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 300px 300px;
    grid-auto-rows: 300px;
    grid-gap: 15px;
  }
  .post {
    background: #ccc;
    padding: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px #CCC;
    position: relative;
    &__title {
      background-color: rgba(0,0,0,.4);
      font-size: 20px;
      text-align: center;
      padding: 5px;
      margin: 0;
      color: #FFFFFF;
      font-family: 'Nunito Sans', sans-serif;
    }
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(70,130,180,.2);
    }
  }
  @media screen and (max-width: 1440px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}