@import url('https://fonts.googleapis.com/css?family=Nunito:700');

:root {
  --header-height: 350px;
  --header-background-color: #4682B4;
  --profile-picture-size: 200px;

  --tag-background-color: #FCB740;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: var(--header-height, 350px);
  background: var(--header-background-color);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--header-height, 350px);
    transform: skewY(2deg);
    -webkit-transform: skewY(2deg);
    background-color: var(--header-background-color);
    transform-origin: top left;
    -webkit-transform-origin: top left;
  }

  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  &__title {
    position: relative;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 30px 15px 0px 15px;
    font-size: 3em;
    text-align: center;
  }

  &__subtitle {
    position: relative;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 1em;
    text-align: center;
    span {
      padding: 2px 5px;
      background-color: var(--tag-background-color);
    }
    span:nth-child(1), span:nth-child(2) {
      display: inline-block;
      margin-right: 5px;
    }
  }

  &__profile-picture {
    width: var(--profile-picture-size);
    height: var(--profile-picture-size);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - var(--profile-picture-size) / 2 + 20px);
    border: 5px solid #FFFFFF;
  }

}